.nav {
    display: flex;
    justify-content: space-between;
}

.navButton {
    margin: 10px;
    padding: 0 2rem;
    height: 3.2rem;
    color: black;
    font-family: "Kanit", sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 3.2rem;
    text-decoration: none;
    border: solid 3px #111;
    transition: box-shadow 0.2s ease;
}

.navButton:hover {
    text-decoration: underline;
    box-shadow: 10px 10px #ccc;
}

.h1 {
    margin-bottom: 1rem;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    font-size: 64px;
    flex-grow: 1;
  }